body {
  background-image: url(https://planetarium.truman.edu/files/2017/10/Space-background.jpg);
}
.centered-image {
  margin: auto;
  width: fit-content;
  height: auto;
  display: block;
}
.centered-text {
  text-align: center;
}
.container {
  color: azure;
}
.col-sm-3 {
  background-color: azure;
  font-weight: bolder;
}
.col-sm-20 {
  text-decoration-style: wavy;
  font-weight: bolder;
}