body {
  background-image: url(pizza/images/pizza-planet-background.jpg);
}
.centered-image {
  margin: auto;
  width: fit-content;
  height: auto;
  display: block;
}
.centered-text {
  text-align: center;
}